.Comparatif {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

.BoxCompare {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: #abf;
  width: 400px;
  height: 200px; }
  .BoxCompare--details {
    line-height: 20%; }
