@import 'mixin';

html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root{
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  @include font("Circular Air-Bold", 1em, null, $darkblue)
  & .container > h1 {
    margin-top: 17px;
    font-size: calc(2em + 20px)
  }
}

.App-logo {
  animation: App-logo-spin 1 1s linear;
}

.App-header {
  background-color: #222;
  height: 150px;
  @media screen and (max-width: 740px){
    padding: 2px;
  }
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.container{
  position: relative;
  text-align: center;
  margin: 0 auto;
  top: 4.5%;
  @media screen and (min-width: 900px){
    width: 60%;
  }
  @media screen and (max-width: 900px){
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  &__header{
    position: relative;
    top: 40px;
    height: 7%;
    text-align: left;
    color: white;
    z-index: 1;
    // position: sticky;
    // top:5px;
  }
  &__body{
    // @include center;
    position: relative;
    top: 25%;
    & .sentence {
      @include font("Circular Air-Bold", calc(3vw + 10px), 700, white);
    }
    & .tabForm{
      display: block;
      padding: 0;
      position: relative;
      list-style: none;
      text-align: left;
      & li {
        @include font("Circular Air-Book", x-large, null, white)
        @include pointer;
        position: relative;
        display: inline-block;
        left: 0;
        margin-right: 7%;
        &.active{
          @include font("Circular Air-Bold", x-large, null, white)
          border-bottom: 0.14em solid white;
        }
      }
    }
  }
  &__bottom{
    position: relative;
    letter-spacing: 1.2px;
    top: 5em;
    text-align: center;
    &__inner{
      display: flex;
      align-items: center;

      @media screen and (max-width: 680px ){
        flex-direction: column;
      }

      position: relative;
      @include font("Circular Air-Book", null, null, white)
      text-align: left;
      // height: 2em; //a enlever
      top:2em;
      & > * {
        vertical-align: middle;
        transition: 200ms;
        margin-right: 4%;
        &:last-child{
          margin: 0
        }
      }
    }
  }

}

.page{
  min-height: 100vh;
  width: 100%;
}

.logo{
  width: 200px;
  letter-spacing: 1.2px;
  @include font("Circular Air-Black", 1.8em, 700, white)
}

.right{
  @include font("Circular Air-Black", 0.7em, 700, white);
  & > * {
    cursor: pointer;
  }
  float: right;
  min-width: 100px;
  text-align: right;
  @include center
  & > img{
    height: 1.1em;
    margin: 0 15px 0 0
  }
}


.TopPage{
  display: flex;
  background: url('../assets/img/bgvroomcab.jpg') 100% 0% no-repeat;
  background-size: 100% 130%;
  // align-items: center;
  justify-content: center;

}

div.TopPage:before{
  content :'';
  position: absolute;
  z-index: 0;
  top:0;
  left: 0;
  background-color: rgba(62,107,141,0.75);
  width: 100%;
  height: 100vh;
}

.language{
  color: $darkblue;
}

.button{
  border : none!important;
  box-shadow: 0.5px 0.5px 0px #b14a4e;
}

.swipe-button {
  margin: 0 2em;
}

.button{
  // outline: none;
  // text-align: center;
  // display: inline-block;
  // padding: 8.2px;
  // background-color: $red;
  // color: white;
  // @include pointer;
  //
  // & > *{
  //   vertical-align: text-top;
  // }
}

.round-droit{
  border-radius: 50px!important;
  min-width: 70px
}

.round{
  border-radius: 50%;
  height: 1.2em;
  width: 1.2em;
}

.price{
  right: 0;
  width: 70px;
}

.hidden{
  display: none
}

#googleSignIn{
  & li{
    display: block;
    list-style: none;
    height: 50px;
  }

  & button{
    display: flex;
    height: 40px;
    & .firebaseui-idp-icon-wrapper{
      & img{
        height: 30px;
        width: 30px;
      }
    }
  }
}

.sticky {
  // box-shadow: 0px 1px 5px rgba(80,80,80,0.8) ;
}

.footer {
  color: white;
  background-color: $darkblue;
  margin-top: 50px;
  font-size: 12px;
}

.copyright {
  font-weight: 700;
  font-size: 14px;
}
