

.formSelect {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 33%;
  background-color: $blue;
  border-radius: 50px;

  & select{
    @include font("Circular Air-Black", null, null, null);
    display: inline-block;
    letter-spacing: 1.1px;
    width: 83%;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    background: transparent;
    padding: 7px;
    border: none;
    color :white;
    &:focus{
      outline: none;
    }
    &.addCarret{
      background: url('../assets/img/carret.png') no-repeat 96% center;
      background-size: 0.7em;
    }
    @include pointer;
  }
  & img{
    vertical-align: middle;
    // padding: 10px 0 10px 5px;
    margin-left: 8%;
    height: 0.9em;
    display: inline-block;
  }
}

.font{
  &-book{
    @include font("Circular Air-Book", null, null, null);
  }
  &-black{
    @include font("Circular Air-Black", null, null, null);
  }
  &-bold{
    @include font("Circular Air-Bold", null, null, null);
  }
}

.destination{
  display: inline-block;
  width: 33%; //comment pour aligné a gauche
  // text-align: center;
  & .orly{
    position: relative;
    height: 1.4em;
    vertical-align: middle;
  }
  & span {
    vertical-align: bottom;
  }
}

.sens{
  font-size: 0;
  height: 17px;
  & > * {
    display: inline-block;
  }
}

.left-add{
  display: inline-flex;
  @include font("Circular Air-Book", 1em, null, $grey);
  width: 15%;
  text-align: center;
  & > span{
    margin: auto;
  }
}

.TextInput{
  position: relative;
  padding: 0;
  overflow: hidden;
  text-align: right;
  display: inline-flex;
  background: #edefed;
  & > input {
    text-align: left;
    margin: 0;
    border: none;
    padding: 0.5em;
    outline: none;
    width: 100%;
    &.add{
      font-size: 2vmin;
      max-width: 85%;
    }
  }
}

.border-tel{
  border: solid 1px #d2d5d0;
}


input{
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #82898d;
  opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #82898d;
  }

  &::-ms-input-placeholder { /* Microsoft Edge */
      color: #82898d;
  }
}

.itemForm{
  height: 35px;
}

.alone{
  display: block;
  margin: auto;
  width : 10vw
}

.datetime{
  max-width: 56px;
  position: relative;
  padding: 0;
  text-align: right;
  display: inline-flex;
  border: solid 1px #d2d5d0;
  background: #edefed;
  & > input {
    text-align: left;
    margin: 0;
    border: none;
    padding: 0.5em;
    outline: none;
    width: 100%;
  }
}

.datepicker{
  & > * {
    border-radius: 0!important
  }
  font-family: "Circular Air-Book"!important;
  font-size: 0.9em!important;
  border-radius: 0!important
}

.ct-s{
  &-5{
    width: 47%
  }
  &-1{
    width: 10%
  }
  &-2{
    width: 20%
  }
  &-3{
    width: 26%
  }
  &-4{
    width: 38%
  }
  &-7{
    width: 70%
  }
  &-8{
    width: 78%
  }
  &-9{
    width: 88%
  }
}

.cl {
  &-l{
    &-1{
      margin: 0 2% 3% 0px
    }
  }
  &-r{
    &-1{
      margin: 0 0% 3% 2%
    }
  }
}
.ct-h{
  display: inline-flex;
}

.contain-form{
  margin: auto;
  text-align : left;
}

.check {
  border: solid 1px #d2d5d0!important
}

.valide{
  border: solid 1px #99cbf1!important
}

.error {
  border: solid 1px #FF4747!important
}
