@import 'mixin';
.Modal{
  &--Title{
    font-size: 1.7em;
    color : $blue;
  }
}
.backdrop {
  background-color: rgba(3,24,90,0.4);
  display: flex;
  align-items: center;
  @media screen and (min-width: 780px){
    padding: 50px
  }
}

.modal{
  min-height: 64.2vh;
  display: flex;
  align-items: center;
  @media screen and (min-width: 780px){
    max-width: 57.6vw;
    margin: 10% auto;
    padding: 30px 50px;
  }
  &--close {
    position: absolute;
    top : 0;
    right: 0;
    margin: 0 5px;
  }

}
